@import "../../index";

.server-container {
    display: flex;
    justify-content: space-evenly;
    
    div {
        min-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .input-field {
        padding-top: .8rem;
    }

    .game-title {
        h1 { font-size: 100%; }
        h2 { font-size: 120%; }
    }

    .server-title-input {
        max-height: 50px;
    }
}

.game-name {
    line-height: 20rem;
}

.game-select {
    padding: 5rem;

    #slider {
        -webkit-appearance: none;
        width: 20%;
        height: 5px;
        outline: none;
        border-radius: 3px;
    }

    .range {
        height: 40px;
        width: 100%;
        border-radius: 10px; 
    }

    .range .slider-value {
        position: relative;
        width: 100%;
    }

    .range .field {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .create-server {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        position: absolute;
        left: 47%;
        margin-top: 5%;

    }
}

