@import "../../index";

.page-container {
    margin-left: 40px;
    margin-right: 40px;
}

.template-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    color: $color-white;

    .new-template-button, h1, .filter-templates {
        align-self: center;
    }

    .new-template-button {
        justify-self: center;
    }

    h1 {
        font-size: 3rem;
    }

    .filter-templates {
        height: 40px;
        width: 70%;
        justify-self: flex-end;
    }
}

.my-server {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #242424;
    padding: 10px 30px;
    color: $color-white;
    background-color: $color-background-dark;
    border-radius: 8px;
    margin-bottom: 1.5rem;

    .server-info {
        text-align: left;
        h1 { font-size: 130%; }
        h2 { font-size: 100%; }
    }

    .server-buttons Button {
        margin-left: 10px;
    }
}
